/* 모바일 우선 스타일 */
body {
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.home {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.rank-item img {
    margin-left: auto;
    margin-right: auto;
}



